# git-ignore file
# split into default python and project-specific sections

###############################################################################
# PROJECT-SPECIFIC

# scratch folder
scratch/

# _old
**/_old

# just to make sure
api
_build


###############################################################################
# DEFAULT
